In [1]:
import requests
import pandas as pd
import itertools
from tqdm import tqdm
from datetime import datetime, timedelta

In [3]:
# Replace with your IEX Cloud API token
api_token = 'pk_b23ba153ee2045aeb5ca77fe63ab5cb0'

# Define the base URL for the IEX Cloud API
base_url = 'https://cloud.iexapis.com/stable'

# Define the symbol for SPY
symbol = 'SPY'

# Define the date as May 10, 2024
yesterday_date = '20240510'

# Define the historical endpoint
endpoint = f'/stock/{symbol}/chart/date/{yesterday_date}'

# Set parameters
params = {
    'token': api_token,
}

# Make the API request
response = requests.get(f'{base_url}{endpoint}', params=params)

# Check if the request was successful
if response.status_code == 200:
    data = response.json()
    
    # Check if data is not empty
    if data:
        # Convert the data to a DataFrame
        df = pd.DataFrame(data)
    else:
        print("No data available for yesterday.")
else:
    print(f"Error: {response.status_code}, {response.text}")

In [5]:
# Data preparation
df=df[['minute','open','close']].dropna(subset=['open', 'close'])

In [7]:
# Re-indexing
df.index = range(1, len(df) + 1)

In [9]:
# Limiting data sample
df=df.head(100)

In [15]:
df

    minute     open    close
1    09:30  521.800  521.365
2    09:31  521.450  521.730
3    09:32  521.950  521.845
4    09:33  521.860  521.875
5    09:35  521.915  522.130
..     ...      ...      ...
96   11:15  520.445  520.460
97   11:16  520.490  520.430
98   11:17  520.330  520.340
99   11:18  520.250  520.250
100  11:20  520.250  520.330

[100 rows x 3 columns]

In [13]:
def find_profitable_strategies_unique_sorted(df):
    profitable_strategies = {}
    for buy_index in range(len(df.index)):
        for sell_index in range(buy_index + 1, len(df.index)):
            profit = df.iloc[sell_index]['close'] - df.iloc[buy_index]['open']
            if profit > 0:
                if buy_index not in profitable_strategies or profit > profitable_strategies[buy_index][1]:
                    profitable_strategies[buy_index] = (df.index[sell_index], profit)
    # Sort the profitable strategies by profit in descending order
    sorted_strategies = sorted(profitable_strategies.values(), key=lambda x: x[1], reverse=True)
    return [(df.index[buy_index], sell_index, profit) for buy_index, (sell_index, profit) in profitable_strategies.items()], len(profitable_strategies)

# Call the function to find profitable strategies and get the number of strategies
profitable_strategies_unique_sorted, num_strategies = find_profitable_strategies_unique_sorted(df)

# Sort the profitable strategies by profit in descending order
profitable_strategies_unique_sorted = sorted(profitable_strategies_unique_sorted, key=lambda x: x[2], reverse=True)

# Calculate total profit
total_profit = sum(strategy[2] for strategy in profitable_strategies_unique_sorted)

# Printing all profitable strategies with only one variation per buy index, sorted by profit
print("Number of Profitable Strategies:", num_strategies)
print("Total Profit of All Strategies:", total_profit)
for strategy in profitable_strategies_unique_sorted:
    print("Buy at:", strategy[0], "Sell at:", strategy[1], "Profit:", strategy[2])

Number of Profitable Strategies: 74
Total Profit of All Strategies: 19.89500000000021
Buy at: 2 Sell at: 23 Profit: 1.0699999999999363
Buy at: 53 Sell at: 64 Profit: 0.7300000000000182
Buy at: 1 Sell at: 23 Profit: 0.7200000000000273
Buy at: 4 Sell at: 23 Profit: 0.6599999999999682
Buy at: 5 Sell at: 23 Profit: 0.6050000000000182
Buy at: 6 Sell at: 23 Profit: 0.6000000000000227
Buy at: 59 Sell at: 64 Profit: 0.5750000000000455
Buy at: 3 Sell at: 23 Profit: 0.5699999999999363
Buy at: 55 Sell at: 64 Profit: 0.5599999999999454
Buy at: 58 Sell at: 64 Profit: 0.55499999999995
Buy at: 54 Sell at: 64 Profit: 0.5349999999999682
Buy at: 56 Sell at: 64 Profit: 0.5049999999999955
Buy at: 57 Sell at: 64 Profit: 0.5049999999999955
Buy at: 52 Sell at: 64 Profit: 0.5
Buy at: 51 Sell at: 64 Profit: 0.4800000000000182
Buy at: 77 Sell at: 87 Profit: 0.44500000000005
Buy at: 9 Sell at: 23 Profit: 0.44499999999993634
Buy at: 76 Sell at: 87 Profit: 0.4350000000000591
Buy at: 8 Sell at: 23 Profit: 0.40999999999996817
Buy at: 60 Sell at: 64 Profit: 0.39999999999997726
Buy at: 7 Sell at: 23 Profit: 0.375
Buy at: 27 Sell at: 30 Profit: 0.37000000000000455
Buy at: 10 Sell at: 23 Profit: 0.34000000000003183
Buy at: 50 Sell at: 64 Profit: 0.34000000000003183
Buy at: 28 Sell at: 30 Profit: 0.3000000000000682
Buy at: 40 Sell at: 41 Profit: 0.2699999999999818
Buy at: 78 Sell at: 87 Profit: 0.2699999999999818
Buy at: 61 Sell at: 64 Profit: 0.2599999999999909
Buy at: 15 Sell at: 23 Profit: 0.25499999999999545
Buy at: 14 Sell at: 23 Profit: 0.25
Buy at: 62 Sell at: 64 Profit: 0.25
Buy at: 92 Sell at: 94 Profit: 0.24500000000000455
Buy at: 80 Sell at: 87 Profit: 0.23500000000001364
Buy at: 20 Sell at: 23 Profit: 0.2300000000000182
Buy at: 29 Sell at: 30 Profit: 0.22500000000002274
Buy at: 91 Sell at: 94 Profit: 0.21500000000003183
Buy at: 13 Sell at: 23 Profit: 0.21000000000003638
Buy at: 44 Sell at: 47 Profit: 0.20499999999992724
Buy at: 22 Sell at: 23 Profit: 0.1999999999999318
Buy at: 12 Sell at: 23 Profit: 0.19499999999993634
Buy at: 85 Sell at: 87 Profit: 0.18500000000005912
Buy at: 38 Sell at: 41 Profit: 0.1750000000000682
Buy at: 79 Sell at: 87 Profit: 0.1750000000000682
Buy at: 93 Sell at: 94 Profit: 0.16999999999995907
Buy at: 90 Sell at: 94 Profit: 0.16499999999996362
Buy at: 37 Sell at: 41 Profit: 0.15499999999997272
Buy at: 89 Sell at: 94 Profit: 0.1449999999999818
Buy at: 11 Sell at: 23 Profit: 0.13999999999998636
Buy at: 86 Sell at: 87 Profit: 0.12999999999999545
Buy at: 68 Sell at: 69 Profit: 0.125
Buy at: 16 Sell at: 23 Profit: 0.12000000000000455
Buy at: 19 Sell at: 23 Profit: 0.12000000000000455
Buy at: 83 Sell at: 87 Profit: 0.1150000000000091
Buy at: 21 Sell at: 23 Profit: 0.11000000000001364
Buy at: 63 Sell at: 64 Profit: 0.10000000000002274
Buy at: 71 Sell at: 72 Profit: 0.10000000000002274
Buy at: 82 Sell at: 87 Profit: 0.10000000000002274
Buy at: 81 Sell at: 87 Profit: 0.09500000000002728
Buy at: 84 Sell at: 87 Profit: 0.08500000000003638
Buy at: 45 Sell at: 47 Profit: 0.08499999999992269
Buy at: 49 Sell at: 64 Profit: 0.08000000000004093
Buy at: 99 Sell at: 100 Profit: 0.08000000000004093
Buy at: 30 Sell at: 31 Profit: 0.07500000000004547
Buy at: 36 Sell at: 41 Profit: 0.07000000000005002
Buy at: 94 Sell at: 96 Profit: 0.07000000000005002
Buy at: 75 Sell at: 87 Profit: 0.06500000000005457
Buy at: 46 Sell at: 47 Profit: 0.05499999999994998
Buy at: 39 Sell at: 41 Profit: 0.05000000000006821
Buy at: 23 Sell at: 25 Profit: 0.049999999999954525
Buy at: 64 Sell at: 65 Profit: 0.04500000000007276
Buy at: 48 Sell at: 64 Profit: 0.03499999999996817
Buy at: 17 Sell at: 23 Profit: 0.029999999999972715
Buy at: 18 Sell at: 23 Profit: 0.029999999999972715
Buy at: 24 Sell at: 25 Profit: 0.01999999999998181